<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head:: head(title='Nueva persona')"></head>
<body>
	<header th:replace="fragments/header"></header>
	<main>
	<br/>
	<br/>
		<div class="container">
    		<h1 class="h2">Nuevo artista</h1>
     		<form class="row g-3 align-items-center" action="#" th:action="@{/create-person}" th:object="${person}" method="post">
     			<div class="col-md-4">
					<label for="name" class="form-label">Nombre</label>
    				<input type="text" class="form-control" id="name" name="name">
    			</div>
    			<div class="col-md-4">
					<label for="surname" class="form-label">Apellidos</label>
    				<input type="text" class="form-control" id="surname" name="surname">
    			</div>
    			<div class="col-md-4">
					<label for="typePersonEnum" class="form-label">Tipo de trabajo</label>
    				 <select name="typePersonEnum" id="typePersonEnum" class="form-select">
    				 	<option value="GUIONISTA">Guionista</option>
    				 	<option value="MUSICO">Músico</option>
    				 	<option value="FOTOGRAFO">Fotógrafo</option>
    				 	<option value="ACTOR">Actor</option>
    				 	<option value="DIRECTOR">Director</option>
    				 </select>
    			</div>
    			<button class="col-2 btn btn-primary btn-lg" type="submit">Registrar Persona</button>
    		</form>
    		<br/>
    		<p th:text="${mensaje}" th:class="${mensajeclass}"></p>
		</div>
	</main>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>